# Transforming Extracted Indeed Data
### Here I am trying to clean the job descriptions that were extracted. 
### Ultimate goal is to identify words that come up frequently and use that to dientify trends.

#### Later: patterns in companies that came up. patterns in 'sustainability' job titles. those that don't have it but showed up for some reason?

In [408]:
import numpy as np 
import pandas as pd 
import re
import nltk
# nltk.download('stopwords')
# nltk.download('punkt')
import matplotlib.pyplot as plt
%matplotlib inline

[nltk_data] Error loading en: Package 'en' not found in index

In [4]:
#index no. 335 to 640
full_list2 = pd.read_csv('jobs_increment_scrape_641_657.csv')
full_list2.drop('Unnamed: 0', axis=1, inplace=True)
full_list2.drop('job_num', axis=1, inplace=True)
full_list2

,Unnamed: 0.1,job_title,company_name,location,job_key,job_descriptions
0,641,"Director, Wine Business Development & Trade",Free Flow Wines,"Sonoma County, CA",7ccdf0e26697d45d,FREE FLOW WINESJob DescriptionTitle: Director...
1,642,Staff Engineer - Sustainability,"Satco, Inc.","El Segundo, CA 90245",276a9389cb202861,About UsSatco is a family-owned and operated m...
2,643,Sous Chef,Planta,"Miami Beach, FL 33139 (South Pointe area)",4268026343e3a4c1,"PLANTA is building a team of inclusive, strate..."
3,644,Steward for Sustainability and Everyday Good,Tom's of Maine,"Kennebunk, ME",881b5bcbe9326589,Relocation Assistance Offered Within Country\n...
4,645,Loader Operator & Quality Control Technician,CRH,"Steamboat Springs, CO 80487",cc46fe639cfce9d2,"Job ID: 278719United Companies, is a CRH Compa..."
5,646,Master Carpenter/ Skilled Trades Specialist,Brodie Builders,"Austin, TX 78744",800d7cc3e9f91c0e,We are seeking individuals that are highly ski...
6,647,Summer Student Temp,3M,"Aberdeen, SD",81b9a3fdaedeaa13,Job Description:\n\nSummer Student Temp\nColla...
7,648,Staff Air Quality Consultant (Entry Level),ERM Group,"Austin, TX 78701 (Downtown area)",d7b394daa4a026e4,ERM is seeking a motivated Air Quality Staff C...
8,649,New Profit Inc.,City of Boston,"Back Bay, MA 02116 (South End area)",99ec1a8e0fe9d7d8,Overview:\n\n**This position will be: Hybrid: ...
9,650,Logistics Support Analyst,Peraton,"Chantilly, VA",c43018565495fbf0,Peraton Overview\n\nPeraton drives missions of...
10,651,Integrated Supply Chain Entry Level Full Time ...,Cummins Inc.,"Columbus, IN",463400a6db4dbe34,Integrated Supply Chain Entry Level Full Time ...
11,652,Employee Transportation Coordinator,University of California - Irvine,"Irvine, CA",5a293f636f07bc21,The Division of Finance and Administration (DF...
12,653,Energy Analytics Intern (Summer 2021),"Steven Winter Associates, Inc.","New York, NY 10001 (Flatiron District area)",3025c35614045191,Job Title: Energy Analytics Intern (Summer 20...
13,654,Research Analyst,JLL,"Portland, OR",27f438fa33dd2aac,About JLL –\nWe’re JLL—a leading professional ...
14,655,Cultivator,Curaleaf,"Las Vegas, NV",d54900ad7c984d32,"Curaleaf Holdings, Inc. (CSE: CURA) (OTCQX: CU..."
15,656,"Associate Vice President, Facilities and Const...","Agilent Technologies, Inc.","Frederick, CO 80504",36f483c0992cea82,Agilent inspires and supports discoveries that...
16,657,"Contract Technical Sourcer (Remote, Chicago, D...",Yum! Brands,United States,d9d83fadfd311f53,Yum is seeking a Technical Sourcer to develop ...

In [6]:
combined0_640 = pd.read_csv('combined_jobs_0_640.csv')
combined0_640.drop('Unnamed: 0', axis=1, inplace=True)
combined0_640

,Unnamed: 0.1,job_title,company_name,location,job_key,job_descriptions
0,0,Sustainability Intern,Imperfect Foods,Remote,f5438de8a8e1629a,About Imperfect\nImperfect Foods was founded i...
1,1,Environmental Sustainability Internship,Jellyfish,"Providence, RI",7075a3a7b5571059,About: Jellyfish is a newly founded venture t...
2,2,SUSTAINABILITY ANALYST,LONGEVITY PARTNERS,"Austin, TX",2171570f88a3a65d,"Austin, USA\nLongevity Partners is a boutique ..."
3,3,Sustainability Innovation Consultant,"Amazon Web Services, Inc.",Remote,e862369e52ce2651,"7+ years of experience in consulting, solution..."
4,4,Sustainability Associate,Schneider Electric,"Louisville, KY",00a0e465fe8342c8,Schneider Electric™ creates connected technolo...
...,...,...,...,...,...,...
636,636,Herdsperson-Farm 37931,Smithfield Foods,"Bladenboro, NC 28320",9ce5a9e9df46bb8e,Job Locations: US-NC-BLADENBORO Your Opportuni...
637,637,Vice President - Conceptual Construction,Hines,"Houston, TX",65ff0068c580bdb8,"Overview\n\nWhen you join Hines, you will work..."
638,638,Privacy Senior Analyst - Remote,Symetra,"Bellevue, WA 98004 (Downtown area)",5f536161bab1fd83,Symetra is seeking a Senior Privacy Analyst to...
639,639,Environmental Sustainability Intern,Sack Properties,"San Francisco Bay Area, CA",b03e1be4e39e9aaf,Internship Opportunity Environmental Sustainab...
640,640,Green Energy Ambassador,Rhythm,"Dallas, TX 75240 (Far North area)",8e14493aaa5a9d39,About RhythmRhythm is a renewable energy and t...

In [7]:
combined = combined0_640.append(full_list2, ignore_index = True)
combined

,Unnamed: 0.1,job_title,company_name,location,job_key,job_descriptions
0,0,Sustainability Intern,Imperfect Foods,Remote,f5438de8a8e1629a,About Imperfect\nImperfect Foods was founded i...
1,1,Environmental Sustainability Internship,Jellyfish,"Providence, RI",7075a3a7b5571059,About: Jellyfish is a newly founded venture t...
2,2,SUSTAINABILITY ANALYST,LONGEVITY PARTNERS,"Austin, TX",2171570f88a3a65d,"Austin, USA\nLongevity Partners is a boutique ..."
3,3,Sustainability Innovation Consultant,"Amazon Web Services, Inc.",Remote,e862369e52ce2651,"7+ years of experience in consulting, solution..."
4,4,Sustainability Associate,Schneider Electric,"Louisville, KY",00a0e465fe8342c8,Schneider Electric™ creates connected technolo...
...,...,...,...,...,...,...
653,653,Energy Analytics Intern (Summer 2021),"Steven Winter Associates, Inc.","New York, NY 10001 (Flatiron District area)",3025c35614045191,Job Title: Energy Analytics Intern (Summer 20...
654,654,Research Analyst,JLL,"Portland, OR",27f438fa33dd2aac,About JLL –\nWe’re JLL—a leading professional ...
655,655,Cultivator,Curaleaf,"Las Vegas, NV",d54900ad7c984d32,"Curaleaf Holdings, Inc. (CSE: CURA) (OTCQX: CU..."
656,656,"Associate Vice President, Facilities and Const...","Agilent Technologies, Inc.","Frederick, CO 80504",36f483c0992cea82,Agilent inspires and supports discoveries that...
657,657,"Contract Technical Sourcer (Remote, Chicago, D...",Yum! Brands,United States,d9d83fadfd311f53,Yum is seeking a Technical Sourcer to develop ...

In [4]:
#full_list is the .csv copy of job_increment_scrape_336.csv

full_list = pd.read_csv('jobs_increment_scrape_336-Copy1.csv')
null_columns = full_list.columns[full_list.isna().any()] #returns the column index that has null value
full_list[null_columns].isna().sum() #returns the number of null values in the column

valid_list = full_list[full_list['job_descriptions'].isna() == False]
valid_list.drop('Unnamed: 0', axis=1, inplace=True)
valid_list

#valid_list is the dataframe with job_descriptions

C:\Users\dson6\anaconda3\envs\finalproject_env\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Unnamed: 0.1,job_title,company_name,location,job_key,job_descriptions
0,0,Sustainability Intern,Imperfect Foods,Remote,f5438de8a8e1629a,About Imperfect\nImperfect Foods was founded i...
1,1,Environmental Sustainability Internship,Jellyfish,"Providence, RI",7075a3a7b5571059,About: Jellyfish is a newly founded venture t...
2,2,SUSTAINABILITY ANALYST,LONGEVITY PARTNERS,"Austin, TX",2171570f88a3a65d,"Austin, USA\nLongevity Partners is a boutique ..."
3,3,Sustainability Innovation Consultant,"Amazon Web Services, Inc.",Remote,e862369e52ce2651,"7+ years of experience in consulting, solution..."
4,4,Sustainability Associate,Schneider Electric,"Louisville, KY",00a0e465fe8342c8,Schneider Electric™ creates connected technolo...
...,...,...,...,...,...,...
330,330,Mechanical Facilities Technician,Intel,"Phoenix, AZ 85018 (Camelback East area)",a95d55613dd9d60b,Job Description\nJoin Intel- and build a bette...
331,331,MTCC AmeriCorps Team Mem-Whitefish Schls Ctr. ...,AmeriCorps,Montana,bae69f6278cae790,MTCC AmeriCorps Team Mem-Whitefish Schls Ctr. ...
332,332,"Service Partnerships Lead, Devices and Services",Google,"Mountain View, CA",834f769d28fd6127,Minimum qualifications:\n\nBachelor's degree o...
333,333,Sustainability Development Manager - Americas,Bayer,"Cary, NC",634eec1599c86585,Bayer is a global enterprise with core compete...
334,334,Environmental Monitoring Analyst - 12 hour nig...,Pfizer,"Rocky Mount, NC",10a02e3a3062f85d,ROLE SUMMARY\nThe Environmental Monitoring (EM...

In [117]:
combined = valid_list.append(full_list2, ignore_index = True)
combined

NameError: name 'valid_list' is not defined

In [8]:
combined.to_csv('combined_jobs_0_657.csv')

In [121]:
combined =pd.read_csv('combined_jobs_0_657.csv')
combined[350:355]

,Unnamed: 0,Unnamed: 0.1,job_title,company_name,location,job_key,job_descriptions
350,350,350,"Environment, Health, & Safety Internship (Fall...",Tesla,"Fremont, CA",52c0cc08114a1b54,Disclaimer: This position is expected to start...
351,351,351,Social Media Content Creator,Goodfair,"Houston, TX 77011 (Lawndale - Wayside area)",9aaf5d61e9009239,Goodfair a quickly growing online thrift store...
352,352,352,Warehouse Associate 1st shift,The Scotts Miracle-Gro Company,"Gresham, OR",4e50507b3e1aee79,Here at Scotts Miracle-Gro there is no such th...
353,353,353,Senior Manager Responsibility and Sustainability,Tommy Bahama,"Seattle, WA",2e6996229bb53eac,"California Applicants, please click here to re..."
354,354,354,Associate / Senior Associate - RMI Africa Ener...,Rocky Mountain Institute,"Basalt, CO",154a945f85b1a11e,Are you passionate about our mission to accele...

## Combining the company info

In [51]:
one = pd.read_csv('companyinfo_0_33.csv')
two = pd.read_csv('companyinfo_34_63.csv')
three = pd.read_csv('companyinfo_64_120.csv')
four = pd.read_csv('companyinfo_121_200.csv')
five = pd.read_csv('companyinfo_201_353.csv')
six = pd.read_csv('companyinfo_353_641.csv')
seven = pd.read_csv('companyinfo_641_657.csv')
companies = [one, two, three, four, five, six, seven]

for c in companies[1:]:
    c.drop('keyn', axis = 1, inplace = True)

seven.drop('Unnamed: 0.1', axis = 1, inplace = True)

allinfo = pd.concat(companies, ignore_index= True)
# allinfo.to_csv('allinfo.csv')

## Allinfo.csv has all the company info.

In [115]:
allinfo = pd.read_csv('allinfo.csv')
# allinfo.drop('Unnamed: 0.1', axis=1, inplace=True)
allinfo

,Unnamed: 0,Unnamed: 0.1,company_name,ceo,founded,size,revenue,industry
0,0,0,Imperfect Foods,Philip Behn,2015,"1001 to 5,000",less than $1M (USD),Manufacturing
1,1,1,Jellyfish,-1,2005,51 to 200,$5M to $25M (USD),Restaurants & Food Service
2,2,2,LONGEVITY PARTNERS,-1,-1,11 to 50,-1,-1
3,3,3,"Amazon Web Services, Inc.",-1,-1,-1,-1,Information Technology
4,4,4,Schneider Electric,Jean-Pascal Tricoire,-1,"more than 10,000",more than $10B (USD),"Energy, Mining & Utilities"
...,...,...,...,...,...,...,...,...
654,654,12,"Steven Winter Associates, Inc.",-1,1972,51 to 200,$5M to $25M (USD),-1
655,655,13,JLL,Christian Ulbrich,1985,"more than 10,000",more than $10B (USD),Real Estate
656,656,14,Curaleaf,-1,-1,-1,-1,Retail & Wholesale
657,657,15,"Agilent Technologies, Inc.",Mike McMullen,1999,"more than 10,000",$1B to $5B (USD),Healthcare
658,658,16,Yum! Brands,David Gibbs,1997,"1001 to 5,000",$1B to $5B (USD),Restaurants & Food Service

## Combining allinfo.csv (allinfo) and combined_jobs_0_657.csv (combined)

In [122]:
# allinfo length was 659 due to duplicate Tommy Bahama entry...
# print(allinfo.columns)
# print(combined.columns)
i=0
# while i < len(combined['company_name']):
#     if allinfo['company_name'][i] != combined['company_name'][i]:
#         print(i, allinfo['company_name'][i], combined['company_name'][i])
#         break
#     i += 1

(allinfo[350:357])
# (combined[353:356])

,Unnamed: 0,Unnamed: 0.1,company_name,ceo,founded,size,revenue,industry
350,350,149,Tesla,Elon Musk,2003,"more than 10,000",$5B to $10B (USD),Manufacturing
351,351,150,Goodfair,-1,-1,-1,-1,-1
352,352,151,The Scotts Miracle-Gro Company,Jim Hagedorn,1868,"5,001 to 10,000",$1B to $5B (USD),Manufacturing
353,353,0,Tommy Bahama,佐々木貞夫,2012,"1001 to 5,000",$100M to $500M (USD),Retail & Wholesale
354,354,1,Rocky Mountain Institute,-1,-1,51 to 200,$25M to $100M (USD),Nonprofit & NGO
355,355,2,Truluck's,-1,1991,201 to 500,$1M to $5M (USD),Restaurants & Food Service
356,356,3,ONX,-1,2009,11 to 50,$1M to $5M (USD),Software Development

In [116]:
# removing duplicate entry in allinfo

allinfo.drop([353], inplace= True)
allinfo = allinfo.reset_index(drop=True)
allinfo['Unnamed: 0'] = [x for x in range(len(allinfo))]
(allinfo[350:360])

,Unnamed: 0,Unnamed: 0.1,company_name,ceo,founded,size,revenue,industry
350,350,149,Tesla,Elon Musk,2003,"more than 10,000",$5B to $10B (USD),Manufacturing
351,351,150,Goodfair,-1,-1,-1,-1,-1
352,352,151,The Scotts Miracle-Gro Company,Jim Hagedorn,1868,"5,001 to 10,000",$1B to $5B (USD),Manufacturing
353,353,0,Tommy Bahama,佐々木貞夫,2012,"1001 to 5,000",$100M to $500M (USD),Retail & Wholesale
354,354,1,Rocky Mountain Institute,-1,-1,51 to 200,$25M to $100M (USD),Nonprofit & NGO
355,355,2,Truluck's,-1,1991,201 to 500,$1M to $5M (USD),Restaurants & Food Service
356,356,3,ONX,-1,2009,11 to 50,$1M to $5M (USD),Software Development
357,357,4,Cooper Carry,-1,-1,-1,-1,-1
358,358,5,"Amy's Kitchen, Inc.",-1,1988,"501 to 1,000",$100M to $500M (USD),Manufacturing
359,359,6,State of Washington Dept. of Commerce,-1,-1,-1,-1,-1

In [123]:
df_657 = combined.merge(allinfo, how='inner', left_on= 'Unnamed: 0.1', right_on= 'Unnamed: 0')

,Unnamed: 0_x,Unnamed: 0.1_x,job_title,company_name_x,location,job_key,job_descriptions,Unnamed: 0_y,Unnamed: 0.1_y,company_name_y,ceo,founded,size,revenue,industry
350,350,350,"Environment, Health, & Safety Internship (Fall...",Tesla,"Fremont, CA",52c0cc08114a1b54,Disclaimer: This position is expected to start...,350,149,Tesla,Elon Musk,2003,"more than 10,000",$5B to $10B (USD),Manufacturing
351,351,351,Social Media Content Creator,Goodfair,"Houston, TX 77011 (Lawndale - Wayside area)",9aaf5d61e9009239,Goodfair a quickly growing online thrift store...,351,150,Goodfair,-1,-1,-1,-1,-1
352,352,352,Warehouse Associate 1st shift,The Scotts Miracle-Gro Company,"Gresham, OR",4e50507b3e1aee79,Here at Scotts Miracle-Gro there is no such th...,352,151,The Scotts Miracle-Gro Company,Jim Hagedorn,1868,"5,001 to 10,000",$1B to $5B (USD),Manufacturing
353,353,353,Senior Manager Responsibility and Sustainability,Tommy Bahama,"Seattle, WA",2e6996229bb53eac,"California Applicants, please click here to re...",353,0,Tommy Bahama,佐々木貞夫,2012,"1001 to 5,000",$100M to $500M (USD),Retail & Wholesale
354,354,354,Associate / Senior Associate - RMI Africa Ener...,Rocky Mountain Institute,"Basalt, CO",154a945f85b1a11e,Are you passionate about our mission to accele...,354,1,Rocky Mountain Institute,-1,-1,51 to 200,$25M to $100M (USD),Nonprofit & NGO
355,355,355,Busser/Team Assistant,Truluck's,"La Jolla, CA",e4cbfee1f988a37e,OPEN INTERVIEWS FROM 2pm-4pmWho We AreSince op...,355,2,Truluck's,-1,1991,201 to 500,$1M to $5M (USD),Restaurants & Food Service

In [125]:
## check to see we merged so that company names are same. 
for x in range(len(df_657['location'])):
    if df_657['company_name_x'][x] != df_657['company_name_y'][x]:
        print(f'error at index {x}')
        break

## They are same = yay!

In [126]:
## df_657 is everything combined. Export a copy here to save
df_657.to_csv('df_657_uncleaned.csv')

## Cleaning df_657

In [365]:
#cdf is the dataframe we are going to clean up
cdf = pd.read_csv('df_657_uncleaned.csv')
cdf.drop(['Unnamed: 0_x', 'Unnamed: 0.1_x', 'Unnamed: 0_y', 'Unnamed: 0.1_y', 'company_name_x'], inplace= True, axis=1)
cdf = cdf.rename(columns={"Unnamed: 0": "Index", "company_name_y": "company_name"})
cdf[cdf['company_name'] == 'AECOM']

,Index,job_title,location,job_key,job_descriptions,company_name,ceo,founded,size,revenue,industry
134,134,Entry Level Environmental Scientist,"Hagåtña, GU 96910",c1f4aff073ad33cc,AECOM is seeking an Entry Level Environmental ...,AECOM,Michael S. Burke,2011,"more than 10,000",more than $10B (USD),Construction & Facilities Services
154,154,Environmental Scientist Intern,"Providence, RI 02940 (Federal Hill area)",7a8acfc31b8e4ea1,AECOM is seeking an Environmental Scientist In...,AECOM,Michael S. Burke,2011,"more than 10,000",more than $10B (USD),Construction & Facilities Services
178,178,Wildlife Biologist,"San Diego, CA 92108",e96c7ddc01296e18,AECOM is seeking a part-time variable Wildlife...,AECOM,-1,-1,-1,-1,-1
375,375,Entry Level Biologist,"Mechanicsburg, PA 17055",a6af0cae3f6980b2,AECOM is seeking an Entry Level Biologist to b...,AECOM,Michael S. Burke,2011,"more than 10,000",more than $10B (USD),Construction & Facilities Services
394,394,Entry Level Biologist,"Mechanicsburg, PA 17055",a6af0cae3f6980b2,AECOM is seeking an Entry Level Biologist to b...,AECOM,Michael S. Burke,2011,"more than 10,000",more than $10B (USD),Construction & Facilities Services
539,539,Science Intern,"Honolulu, HI 96823 (Makiki area)",944f8011a0a24873,AECOM is seeking a Science Intern to be based ...,AECOM,Michael S. Burke,2011,"more than 10,000",more than $10B (USD),Construction & Facilities Services
554,554,Environmental Scientist,"Annapolis, MD 21401",9521328bae1bb87a,AECOM has a position available for an Environm...,AECOM,Michael S. Burke,2011,"more than 10,000",more than $10B (USD),Construction & Facilities Services

In [366]:
# some companies, like "AECOM" have mulitple job entries. however the company info is incomplete,
## likely due to a captcha error that was not captured 
# Here I am making sure that all duplicate company_names have the same company info

duplicate_companies = cdf[cdf.duplicated(['company_name'])]
unique_companies = duplicate_companies['company_name'].unique() #list of unique companies
type(duplicate_companies[duplicate_companies['company_name'] == "AECOM"]) #127 duplicate companies
#for each unique value, check the dataframe where company name = unique value

def is_unique(s):
    a = s.to_numpy() # s.values (pandas<0.24)
    return (a[0] == a).all()

def find_value(s):
    for x in s:
        if x != '-1':
            return x

# is_unique(df['counts'])
ci = ['ceo','founded','size','revenue','industry']

for company in unique_companies:
    for index in ci:
        if index != 'founded':
            if not (is_unique(cdf.loc[cdf['company_name'] == company, index])):
                thevalue = find_value(cdf.loc[cdf['company_name'] == company, index])
                (cdf.loc[cdf['company_name'] == company, index]) = (cdf.loc[cdf['company_name'] == company, index]).replace(str(-1), thevalue)
                continue
        if not (is_unique(cdf.loc[cdf['company_name'] == company, index])):
                thevalue = find_value(cdf.loc[cdf['company_name'] == company, index])
                (cdf.loc[cdf['company_name'] == company, index]) = (cdf.loc[cdf['company_name'] == company, index]).replace((-1), thevalue)

## All Duplicate companies have the same company info!

In [277]:
#dont run again
#lets grab companies that dont have info, because maybe the captcha was running
# nocompinfo = {'company_name': cdf[(cdf['ceo'] == '-1') & (cdf['founded'] == -1) & (cdf['size'] == '-1') &(cdf['revenue'] == '-1') & (cdf['industry'] == '-1')]['company_name'].values}
missingcompanies = pd.DataFrame(nocompinfo)
missingcompanies.to_csv('missingcompanyinfo.csv')
cdf[(cdf['ceo'] == '-1') & (cdf['founded'] == -1) & (cdf['size'] == '-1') &(cdf['revenue'] == '-1') & (cdf['industry'] == '-1')]

In [367]:
#extracting companies with missing info - 104 rows
cdf[(cdf['ceo'] == '-1') & (cdf['founded'] == -1) & (cdf['size'] == '-1') &(cdf['revenue'] == '-1') & (cdf['industry'] == '-1')]['company_name'].unique()

array(['Gedeon GRC Consulting', 'California State University',
       'World Wide Technology, Inc.', 'EME Consulting Engineering Group',
       'Indian Nations Council of Governments (INCOG)',
       'Universal Leaf Tobacco Co. Inc.',
       'Studio School - Los Angeles, CA', 'Epsten Group',
       'Home Innovation Research Labs, Inc.', 'Onward Energy',
       'Shenandoah Valley Organic, LLC', 'ima Design',
       'City of Naples, FL', 'Benson Hill', 'Cooper Carry',
       'US Surface Transportation Board', 'Land O’Lakes, Inc.',
       'Virgin Hyperloop', 'US Architect of the Capitol',
       'Common Ground Food Co-op', 'Eastern Research Group, Inc.',
       'The Cadmus Group, Inc.',
       'National Sustainable Agriculture Coalition',
       'University of MO-Columbia', 'Goby Inc', 'Aspiration Partners',
       'Spirit Environmental, LLC', "Charlotte's Web",
       'City of Columbia, MO', 'Partner Energy, Inc.', 'SI Group, Inc.',
       'Hamer Environmental', 'Eiger Marketing',
       'Rinker Design Associates', 'Lake Forest', 'University of Florida',
       'Dedham', 'US Bureau of Land Management', 'Fisker Inc',
       'Zeroshop.co', 'The State Education Resource Center (SERC),',
       'The Earth Partners', 'State of Washington Dept. of Commerce',
       'Filoli Historic House and Garden', 'High Meadow Farm',
       'Washington River Protection Solutions (WRPS)',
       'GreenWorks Environmental', 'River Valley Market Llc', 'Goodfair',
       'BRS', 'SLR Consulting', 'US Federal Highway Administration',
       'DCR- Water Supply & Protection', 'Lufkin Industries',
       'Summersalt', 'EBP US', 'Meridian Consulting, LLC',
       'Altura Associates',
       'The Rector & Visitors of the University of Virgini...',
       'Hart-to-Hart Farm & Education Center', 'PERIMETER SOLUTIONS, LP',
       'Diocese of Saginaw', 'ESC Polytech Consultants',
       'Oneida ESC Group', 'Public Health Advocates', 'David Energy',
       'Council of the Great Lakes Region', 'UnitedHealth Group',
       'Counterpart International, Inc.', 'Northeastern University',
       'Cleantech Group', 'Essilor', 'Umatilla County',
       'Sheladia Associates, Inc.', 'LG Vehicle Components', 'GreenPrint',
       'Hines', 'Planta'], dtype=object)

In [368]:
extracompanyinfo = pd.read_csv('missingcompanyinfo_filled.csv')
len(extracompanyinfo[(extracompanyinfo['ceo'] != '-1') | (extracompanyinfo['founded'] != -1) | (extracompanyinfo['size'] != '-1') |(extracompanyinfo['revenue'] != '-1') | (extracompanyinfo['industry'] != '-1')])
#we have 12 more company info extracted that we want to add to the cdf

12

In [369]:
#adding additional company info to cdf
addcompanies = extracompanyinfo['company_name']
addcompanies
ci = ['ceo','founded','size','revenue','industry']

for company in addcompanies:
    for index in ci:
#         print(extracompanyinfo.loc[extracompanyinfo['company_name'] == company, index].values[0])
        cdf.loc[cdf['company_name'] == company, index] = extracompanyinfo.loc[extracompanyinfo['company_name'] == company, index].values[0]

#reduced companies with missing info to 92 companies (from 104 companies), 66 of them unique

In [374]:
len(cdf[(cdf['ceo'] == '-1') & (cdf['founded'] == -1) & (cdf['size'] == '-1') &(cdf['revenue'] == '-1') & (cdf['industry'] == '-1')]['company_name'])

92

In [375]:
cdf.to_csv('cdf_update1.csv', index=False) #92 companies missing info, 66 of them unique

## Exploring Data

In [531]:
#adf is now a read copy of cdf_update1.csv
adf = pd.read_csv('cdf_update1.csv')
adf

,Index,job_title,location,job_key,job_descriptions,company_name,ceo,founded,size,revenue,industry
0,0,Sustainability Intern,Remote,f5438de8a8e1629a,About Imperfect\nImperfect Foods was founded i...,Imperfect Foods,Philip Behn,2015,"1001 to 5,000",less than $1M (USD),Manufacturing
1,1,Environmental Sustainability Internship,"Providence, RI",7075a3a7b5571059,About: Jellyfish is a newly founded venture t...,Jellyfish,-1,2005,51 to 200,$5M to $25M (USD),Restaurants & Food Service
2,2,SUSTAINABILITY ANALYST,"Austin, TX",2171570f88a3a65d,"Austin, USA\nLongevity Partners is a boutique ...",LONGEVITY PARTNERS,-1,-1,11 to 50,-1,-1
3,3,Sustainability Innovation Consultant,Remote,e862369e52ce2651,"7+ years of experience in consulting, solution...","Amazon Web Services, Inc.",-1,-1,-1,-1,Information Technology
4,4,Sustainability Associate,"Louisville, KY",00a0e465fe8342c8,Schneider Electric™ creates connected technolo...,Schneider Electric,Jean-Pascal Tricoire,-1,"more than 10,000",more than $10B (USD),"Energy, Mining & Utilities"
...,...,...,...,...,...,...,...,...,...,...,...
653,653,Energy Analytics Intern (Summer 2021),"New York, NY 10001 (Flatiron District area)",3025c35614045191,Job Title: Energy Analytics Intern (Summer 20...,"Steven Winter Associates, Inc.",-1,1972,51 to 200,$5M to $25M (USD),-1
654,654,Research Analyst,"Portland, OR",27f438fa33dd2aac,About JLL –\nWe’re JLL—a leading professional ...,JLL,Christian Ulbrich,1985,"more than 10,000",more than $10B (USD),Real Estate
655,655,Cultivator,"Las Vegas, NV",d54900ad7c984d32,"Curaleaf Holdings, Inc. (CSE: CURA) (OTCQX: CU...",Curaleaf,-1,-1,-1,-1,Retail & Wholesale
656,656,"Associate Vice President, Facilities and Const...","Frederick, CO 80504",36f483c0992cea82,Agilent inspires and supports discoveries that...,"Agilent Technologies, Inc.",Mike McMullen,1999,"more than 10,000",$1B to $5B (USD),Healthcare
657,657,"Contract Technical Sourcer (Remote, Chicago, D...",United States,d9d83fadfd311f53,Yum is seeking a Technical Sourcer to develop ...,Yum! Brands,David Gibbs,1997,"1001 to 5,000",$1B to $5B (USD),Restaurants & Food Service

In [533]:
#job_title - Title, get rid of parentheses. Sustainability in title, yes or no?

adf['job_title_edit'] = adf['job_title'].apply(lambda x: re.findall("^[^\(]+",x.title())[0])

#Add column identifying if sustainability in title.
adf['sust_title'] = adf['job_title'].apply(lambda x: "Yes" if 'sustainability' in x.lower() else "No")

#adf[adf['sust_title'] == 'Yes']['job_title_edit'] 
#there are 223 job titles with sustainability in them

In [578]:
#quick check to see what the common words are in the job titles that have sustainability in them
import spacy

from collections import Counter
nlp = spacy.load('en_core_web_sm')
jobs = ' '.join(adf[adf['sust_title'] == 'Yes']['job_title_edit'].values)
not_in_jobs = ' '.join(adf[adf['sust_title'] == 'No']['job_title_edit'].values)
doc = nlp(jobs)
doc_not = nlp(not_in_jobs)
# all tokens that arent punctuations and not 'sustainability'
words = [token.text
         for token in doc
         if not token.is_punct and token.text.lower() not in ['for', 'energy', 'sustainability', 'and', ' ', 'program', 'environmental', 'solutions', 'global']]

words_not = [token.text
         for token in doc_not
         if not token.is_punct and token.text.lower() not in ['for', 'sustainability', 'and', ' ']]

In [580]:
# 15 most common words in jobs without 'sustainability' in the title
word_freq_not = Counter(words_not)
common_words_notitle = word_freq_not.most_common(15)
common_words_notitle

[('Environmental', 67),
 ('Specialist', 46),
 ('Analyst', 46),
 ('Associate', 43),
 ('Manager', 41),
 ('Intern', 24),
 ('Coordinator', 24),
 ('Program', 23),
 ('Assistant', 23),
 ('Research', 22),
 ('Scientist', 18),
 ('Energy', 12),
 ('Climate', 11),
 ('Data', 11),
 ('Technician', 11)]

In [541]:
# ten most common words in jobs with 'sustainability' in them
word_freq = Counter(words)
common_words_sust = word_freq.most_common(10)
common_words_sust
# common_titles_sust = [x[0] for x in common_words]
## top 10 most common job titles - Manager, Director, Specialist, Engineer, Analyst, Consultant, Coordinator, Intern/Internship, Associate, Senior

# for sj in adf[adf['sust_title'] == 'Yes']['job_title_edit']:
#     if 'manager' in sj:
#         row = 'Manager'

[('Manager', 48),
 ('Director', 23),
 ('Specialist', 20),
 ('Engineer', 17),
 ('Analyst', 15),
 ('Consultant', 15),
 ('Coordinator', 15),
 ('Senior', 13),
 ('Intern', 9),
 ('Associate', 8)]

In [534]:
#https://gist.github.com/rogerallen/1583593
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
us_state_abbrev['New York State'] = 'NY'
us_state_abbrev['Washington State'] = 'WA'
us_state_abbrev['United States'] = 'n/a'

In [536]:
import re
#location - Boil it down to State and "Remote"
adf['location_edit'] = ["Remote" if (x.lower() == 'remote') else ((re.findall("[A-Z]{2}", x)[0]) if len(re.findall("[A-Z]{2}", x)) != 0 else 'n/a') for x in adf['location']]

for x in range(len(adf)):
    if len(adf.loc[x,'location_edit']) != 2 and adf.loc[x,'location_edit'] != 'Remote':
#         (adf.loc[x,'location_edit']) = (adf.loc[x,'location_edit']).replace('n/a', us_state_abbrev[adf.loc[x,'location']])
        adf.loc[x,'location_edit'] = us_state_abbrev[adf.loc[x,'location']]
# #there are some that are not state or remote. need to change those to N/A or convert to state

adf[adf['location'] == 'Washington State']['location_edit']

321    WA
359    WA
Name: location_edit, dtype: object

In [540]:
#job_descriptions

#Add column identifying if sustainability in description
adf['sust_desc'] = adf['job_descriptions'].apply(lambda x: 'Yes' if 'sustainability' in x.lower() else 'No')

In [547]:
#company_name (title)
adf['company_name'] = adf['company_name'].apply(lambda x: x.title())

In [567]:
#size = small, medium, large

sizemap = {
    '1001 to 5,000': 'large',
    '51 to 200': 'medium',
    '11 to 50': 'small', 
    '-1': 'n/a', 
    'more than 10,000': 'very large',
    '501 to 1,000': 'large', 
    '5,001 to 10,000': 'very large', 
    '201 to 500': 'medium', 
    'less than 10': 'very small'
}

adf['size'].unique()
adf['size_category'] = [sizemap[x] for x in adf['size']]
adf
#-1 - n/a
#less than 10 - very small
#11 to 50 - small
#51 to 200 - medium
#201 to 500 - medium
#501 to 1000 - large
#1001 to 5000 - large
#5001 to 10000 - very large
#more than 10000 - very large

,Index,job_title,location,job_key,job_descriptions,company_name,ceo,founded,size,revenue,industry,job_title_edit,sust_title,location_edit,sust_desc,size_category
0,0,Sustainability Intern,Remote,f5438de8a8e1629a,About Imperfect\nImperfect Foods was founded i...,Imperfect Foods,Philip Behn,2015,"1001 to 5,000",less than $1M (USD),Manufacturing,Sustainability Intern,Yes,Remote,Yes,large
1,1,Environmental Sustainability Internship,"Providence, RI",7075a3a7b5571059,About: Jellyfish is a newly founded venture t...,Jellyfish,-1,2005,51 to 200,$5M to $25M (USD),Restaurants & Food Service,Environmental Sustainability Internship,Yes,RI,Yes,medium
2,2,SUSTAINABILITY ANALYST,"Austin, TX",2171570f88a3a65d,"Austin, USA\nLongevity Partners is a boutique ...",Longevity Partners,-1,-1,11 to 50,-1,-1,Sustainability Analyst,Yes,TX,Yes,small
3,3,Sustainability Innovation Consultant,Remote,e862369e52ce2651,"7+ years of experience in consulting, solution...","Amazon Web Services, Inc.",-1,-1,-1,-1,Information Technology,Sustainability Innovation Consultant,Yes,Remote,Yes,n/a
4,4,Sustainability Associate,"Louisville, KY",00a0e465fe8342c8,Schneider Electric™ creates connected technolo...,Schneider Electric,Jean-Pascal Tricoire,-1,"more than 10,000",more than $10B (USD),"Energy, Mining & Utilities",Sustainability Associate,Yes,KY,Yes,very large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,653,Energy Analytics Intern (Summer 2021),"New York, NY 10001 (Flatiron District area)",3025c35614045191,Job Title: Energy Analytics Intern (Summer 20...,"Steven Winter Associates, Inc.",-1,1972,51 to 200,$5M to $25M (USD),-1,Energy Analytics Intern,No,NY,Yes,medium
654,654,Research Analyst,"Portland, OR",27f438fa33dd2aac,About JLL –\nWe’re JLL—a leading professional ...,Jll,Christian Ulbrich,1985,"more than 10,000",more than $10B (USD),Real Estate,Research Analyst,No,OR,Yes,very large
655,655,Cultivator,"Las Vegas, NV",d54900ad7c984d32,"Curaleaf Holdings, Inc. (CSE: CURA) (OTCQX: CU...",Curaleaf,-1,-1,-1,-1,Retail & Wholesale,Cultivator,No,NV,Yes,n/a
656,656,"Associate Vice President, Facilities and Const...","Frederick, CO 80504",36f483c0992cea82,Agilent inspires and supports discoveries that...,"Agilent Technologies, Inc.",Mike McMullen,1999,"more than 10,000",$1B to $5B (USD),Healthcare,"Associate Vice President, Facilities And Const...",No,CO,Yes,very large
657,657,"Contract Technical Sourcer (Remote, Chicago, D...",United States,d9d83fadfd311f53,Yum is seeking a Technical Sourcer to develop ...,Yum! Brands,David Gibbs,1997,"1001 to 5,000",$1B to $5B (USD),Restaurants & Food Service,Contract Technical Sourcer,No,n/a,Yes,large

In [572]:
#revenue = small, medium, large business/enterprise?
revmap = {
    'less than $1M (USD)': 'Less than \\$1M', 
    '$5M to $25M (USD)': '\\$1M to \\$100M', 
    '-1' :'n/a',
    'more than $10B (USD)': 'More than \\$10B', 
    '$25M to $100M (USD)': '\\$1M to \\$100M', 
    '$1B to $5B (USD)' : '\\$1B to \\$10B',
    '$5B to $10B (USD)': '\\$1B to \\$10B', 
    '$1M to $5M (USD)':  '\\$1M to \\$100M', 
    '$100M to $500M (USD)': '\\$100M to \\$1B',
    '$500M to $1B (USD)': '\\$100M to \\$1B'
}

adf['revenue'].unique()
adf['rev_category'] = [revmap[x] for x in adf['revenue']]
adf
#-1 - n/a
#less than $1M
#1M to 5M
#5M to 25M
#25M to 100M
#100M to 500M
#500M to 1B
#1B to 5B
#5B to 10B
#more than 10B

,Index,job_title,location,job_key,job_descriptions,company_name,ceo,founded,size,revenue,industry,job_title_edit,sust_title,location_edit,sust_desc,size_category,rev_category
0,0,Sustainability Intern,Remote,f5438de8a8e1629a,About Imperfect\nImperfect Foods was founded i...,Imperfect Foods,Philip Behn,2015,"1001 to 5,000",less than $1M (USD),Manufacturing,Sustainability Intern,Yes,Remote,Yes,large,Less than \$1M
1,1,Environmental Sustainability Internship,"Providence, RI",7075a3a7b5571059,About: Jellyfish is a newly founded venture t...,Jellyfish,-1,2005,51 to 200,$5M to $25M (USD),Restaurants & Food Service,Environmental Sustainability Internship,Yes,RI,Yes,medium,\$1M to \$100M
2,2,SUSTAINABILITY ANALYST,"Austin, TX",2171570f88a3a65d,"Austin, USA\nLongevity Partners is a boutique ...",Longevity Partners,-1,-1,11 to 50,-1,-1,Sustainability Analyst,Yes,TX,Yes,small,n/a
3,3,Sustainability Innovation Consultant,Remote,e862369e52ce2651,"7+ years of experience in consulting, solution...","Amazon Web Services, Inc.",-1,-1,-1,-1,Information Technology,Sustainability Innovation Consultant,Yes,Remote,Yes,n/a,n/a
4,4,Sustainability Associate,"Louisville, KY",00a0e465fe8342c8,Schneider Electric™ creates connected technolo...,Schneider Electric,Jean-Pascal Tricoire,-1,"more than 10,000",more than $10B (USD),"Energy, Mining & Utilities",Sustainability Associate,Yes,KY,Yes,very large,More than \$10B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,653,Energy Analytics Intern (Summer 2021),"New York, NY 10001 (Flatiron District area)",3025c35614045191,Job Title: Energy Analytics Intern (Summer 20...,"Steven Winter Associates, Inc.",-1,1972,51 to 200,$5M to $25M (USD),-1,Energy Analytics Intern,No,NY,Yes,medium,\$1M to \$100M
654,654,Research Analyst,"Portland, OR",27f438fa33dd2aac,About JLL –\nWe’re JLL—a leading professional ...,Jll,Christian Ulbrich,1985,"more than 10,000",more than $10B (USD),Real Estate,Research Analyst,No,OR,Yes,very large,More than \$10B
655,655,Cultivator,"Las Vegas, NV",d54900ad7c984d32,"Curaleaf Holdings, Inc. (CSE: CURA) (OTCQX: CU...",Curaleaf,-1,-1,-1,-1,Retail & Wholesale,Cultivator,No,NV,Yes,n/a,n/a
656,656,"Associate Vice President, Facilities and Const...","Frederick, CO 80504",36f483c0992cea82,Agilent inspires and supports discoveries that...,"Agilent Technologies, Inc.",Mike McMullen,1999,"more than 10,000",$1B to $5B (USD),Healthcare,"Associate Vice President, Facilities And Const...",No,CO,Yes,very large,\$1B to \$10B
657,657,"Contract Technical Sourcer (Remote, Chicago, D...",United States,d9d83fadfd311f53,Yum is seeking a Technical Sourcer to develop ...,Yum! Brands,David Gibbs,1997,"1001 to 5,000",$1B to $5B (USD),Restaurants & Food Service,Contract Technical Sourcer,No,n/a,Yes,large,\$1B to \$10B

In [577]:
#industry = categorize industry...
adf['industry'].unique()
adf.groupby(['industry']).count().sort_values(by="location",ascending=False)

,Index,job_title,location,job_key,job_descriptions,company_name,ceo,founded,size,revenue,job_title_edit,sust_title,location_edit,sust_desc,size_category,rev_category
industry,,,,,,,,,,,,,,,,
-1,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
Manufacturing,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79,79
Education,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43
Government & Public Administration,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43
Retail & Wholesale,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Commercial Equipment Services,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Consumer Product Manufacturing,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Accounting & Tax,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Event Services,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Wood & Paper Manufacturing,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1